@import './base.css';

#app {
  max-width: 100%;
  width: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #787A80;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  /*a:hover {*/
  /*  color: #FF5A30;*/
  /*}*/
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /*#app {*/
  /*  display: grid;*/
  /*  grid-template-columns: 1fr 1fr;*/
  /*  padding: 0 2rem;*/
  /*}*/
}
